In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
from pathlib import Path
import pandas as pd
import scipy.stats as stats
import os

In [9]:
df = Path('Data/airline_2000_2005.csv')

df = pd.read_csv(df)

df.head()

,Unnamed: 0,ActualElapsedTime,AirTime,ArrDelay,ArrTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,...,Month,NASDelay,Origin,SecurityDelay,TailNum,TaxiIn,TaxiOut,UniqueCarrier,WeatherDelay,Year
0,0,53.0,32.0,-8.0,1642.0,1650,1545,65.0,NaN,0,...,10,NaN,DCA,NaN,N443US,7.0,14.0,US,NaN,2002
1,4,45.0,29.0,2.0,1120.0,1118,1030,48.0,NaN,0,...,6,0.0,CVG,0.0,N785CA,3.0,13.0,OH,0.0,2006
2,6,61.0,40.0,-3.0,1537.0,1540,1440,60.0,NaN,0,...,7,NaN,DFW,NaN,N286AE,7.0,14.0,MQ,NaN,2008
3,9,NaN,NaN,NaN,NaN,730,605,85.0,B,1,...,4,0.0,DEN,0.0,N705EV,0.0,0.0,EV,0.0,2005
4,13,100.0,81.0,-2.0,1220.0,1222,1045,97.0,NaN,0,...,11,0.0,GNV,0.0,N632AS,10.0,9.0,EV,0.0,2006

In [36]:
# Drop first column
df.drop('Unnamed: 0', axis='columns', inplace=True)

In [38]:
print(df.columns)

Index(['ActualElapsedTime', 'AirTime', 'ArrDelay', 'ArrTime', 'CRSArrTime',
       'CRSDepTime', 'CRSElapsedTime', 'CancellationCode', 'Cancelled',
       'CarrierDelay', 'DayOfWeek', 'DayofMonth', 'DepDelay', 'DepTime',
       'Dest', 'Distance', 'Diverted', 'FlightNum', 'LateAircraftDelay',
       'Month', 'NASDelay', 'Origin', 'SecurityDelay', 'TailNum', 'TaxiIn',
       'TaxiOut', 'UniqueCarrier', 'WeatherDelay', 'Year'],
      dtype='object')

In [45]:
df.set_index(['Year','Month','DayOfWeek', 'DayofMonth'])

,,,,ActualElapsedTime,AirTime,ArrDelay,ArrTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,CarrierDelay,...,FlightNum,LateAircraftDelay,NASDelay,Origin,SecurityDelay,TailNum,TaxiIn,TaxiOut,UniqueCarrier,WeatherDelay
Year,Month,DayOfWeek,DayofMonth,,,,,,,,,,,,,,,,,,,,,
2002,10,4,10,53.0,32.0,-8.0,1642.0,1650,1545,65.0,NaN,0,NaN,...,209,NaN,NaN,DCA,NaN,N443US,7.0,14.0,US,NaN
2006,6,1,19,45.0,29.0,2.0,1120.0,1118,1030,48.0,NaN,0,0.0,...,5873,0.0,0.0,CVG,0.0,N785CA,3.0,13.0,OH,0.0
2008,7,7,20,61.0,40.0,-3.0,1537.0,1540,1440,60.0,NaN,0,NaN,...,3281,NaN,NaN,DFW,NaN,N286AE,7.0,14.0,MQ,NaN
2005,4,7,10,NaN,NaN,NaN,NaN,730,605,85.0,B,1,0.0,...,4117,0.0,0.0,DEN,0.0,N705EV,0.0,0.0,EV,0.0
2006,11,1,6,100.0,81.0,-2.0,1220.0,1222,1045,97.0,NaN,0,0.0,...,4120,0.0,0.0,GNV,0.0,N632AS,10.0,9.0,EV,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,7,2,22,89.0,59.0,3.0,1018.0,1015,850,85.0,NaN,0,0.0,...,1592,0.0,0.0,MCI,0.0,N335UA,10.0,20.0,UA,0.0
2001,9,1,3,304.0,273.0,97.0,2044.0,1907,1108,299.0,NaN,0,NaN,...,54,NaN,NaN,LAS,NaN,N635Aæ,6.0,25.0,HP,NaN
2007,5,7,20,74.0,58.0,-10.0,1533.0,1543,1420,83.0,NaN,0,0.0,...,2602,0.0,0.0,IAH,0.0,N11535,3.0,13.0,XE,0.0
2004,1,5,9,80.0,53.0,-3.0,1224.0,1227,1105,82.0,NaN,0,0.0,...,5079,0.0,0.0,CVG,0.0,N376CA,7.0,20.0,OH,0.0
2006,7,6,29,214.0,187.0,-16.0,1057.0,1113,920,233.0,NaN,0,0.0,...,357,0.0,0.0,IAH,0.0,N33284,7.0,20.0,CO,0.0

In [46]:
df.index

RangeIndex(start=0, stop=59285457, step=1)

In [54]:
# loop throgh jan months and export to csv
for n in range(2,12):
    tmp_df = df[(df.Year ==2005) & (df.Month == n) & (df.Origin == 'IAD')]
    
    #export    
    file = f'Data/airlines_2005_{n}.csv'
    
    print(f'exporting file {file}')
    
    tmp_df.to_csv(file,encoding='utf-8',header=True, index=False)
    
    print("--------------------------")

exporting file Data/airlines_2005_2.csv
--------------------------
exporting file Data/airlines_2005_3.csv
--------------------------
exporting file Data/airlines_2005_4.csv
--------------------------
exporting file Data/airlines_2005_5.csv
--------------------------
exporting file Data/airlines_2005_6.csv
--------------------------
exporting file Data/airlines_2005_7.csv
--------------------------
exporting file Data/airlines_2005_8.csv
--------------------------
exporting file Data/airlines_2005_9.csv
--------------------------
exporting file Data/airlines_2005_10.csv
--------------------------
exporting file Data/airlines_2005_11.csv
--------------------------

In [48]:
tmp_df.head()

,ActualElapsedTime,AirTime,ArrDelay,ArrTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,CarrierDelay,...,Month,NASDelay,Origin,SecurityDelay,TailNum,TaxiIn,TaxiOut,UniqueCarrier,WeatherDelay,Year
175,49.0,37.0,-19.0,1054.0,1113,1008,65.0,NaN,0,0.0,...,1,0.0,ABI,0.0,N397AE,7.0,5.0,MQ,0.0,2005
226,43.0,19.0,12.0,850.0,838,745,53.0,NaN,0,0.0,...,1,0.0,BWI,0.0,N626AU,13.0,11.0,US,0.0,2005
230,65.0,31.0,26.0,1000.0,934,832,62.0,NaN,0,23.0,...,1,3.0,ATL,0.0,N845AS,6.0,28.0,EV,0.0,2005
393,40.0,17.0,84.0,1047.0,923,840,43.0,NaN,0,0.0,...,1,84.0,COS,0.0,N913SW,8.0,15.0,OO,0.0,2005
512,NaN,NaN,NaN,NaN,1110,645,205.0,B,1,0.0,...,1,0.0,AUS,0.0,0,0.0,0.0,CO,0.0,2005

In [55]:
iad_2005_df = df[(df.Origin == 'IAD')]
iad_2005_df.head()

,ActualElapsedTime,AirTime,ArrDelay,ArrTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,CarrierDelay,...,Month,NASDelay,Origin,SecurityDelay,TailNum,TaxiIn,TaxiOut,UniqueCarrier,WeatherDelay,Year
136,86.0,70.0,-23.0,1346.0,1409,1230,99.0,NaN,0,0.0,...,3,0.0,IAD,0.0,N680BR,4.0,11.0,DH,0.0,2004
166,130.0,69.0,41.0,2033.0,1952,1805,107.0,NaN,0,0.0,...,9,23.0,IAD,0.0,N814CA,2.0,59.0,OH,18.0,2004
302,324.0,299.0,-24.0,1957.0,2021,1736,345.0,NaN,0,NaN,...,10,NaN,IAD,NaN,N583UA,6.0,19.0,UA,NaN,2008
352,72.0,50.0,-11.0,1353.0,1404,1245,79.0,NaN,0,0.0,...,6,0.0,IAD,0.0,N691BR,3.0,19.0,DH,0.0,2004
391,53.0,39.0,-11.0,806.0,817,715,62.0,NaN,0,0.0,...,10,0.0,IAD,0.0,N319UE,5.0,8.0,DH,0.0,2003

In [57]:
iad_2005_df.shape

(786380, 29)

In [58]:
file = f'Data/airlines_2005_iad_origin.csv'

iad_2005_df.to_csv(file,encoding='utf-8',header=True, index=False)